
        {% for post in posts %}
        <article id="post-1" class="post-1 post type-post status-publish format-standard has-post-thumbnail sticky hentry category-featured tag-sticky-2 tag-template">
            <div class="blog-item-wrap">
                    {% if post.featured_image %}
                    <img src="{{getAssetUrl(post.featured_image)}}" class="single-featured wp-post-image">
                    {% endif %}
                </a>
                <div class="post-inner-content">
                    <header class="entry-header page-header">
                        <h2 class="entry-title"><a href="{{post.url}}" rel="bookmark">{{post.title}}</a></h2>
                        <div class="entry-meta">
                            <span class="posted-on">
                                <i class="fa fa-calendar"></i>
                                <time class="entry-date published" datetime="{{date(post.created_at, 'MMM DO, YYYY')}}">{{date(post.created_at, 'MMM Do, YYYY')}}</time>
                            </span>
                            <span class="byline">
                                <i class="fa fa-user"></i>
                                <span class="author vcard">
                                    <a class="url fn n" href="/blog/author/{{post.author[0].title}}">{{post.author[0].title}}</a>
                                </span>
                            </span>
                        </div>
                    </header>
                    <div class="entry-content">
                        {{post.full_description | truncate(50)}}
                        <p>
                            <a class="btn btn-default read-more" href="{{post.url}}" title="{{post.title}}">Read More</a>
                        </p>
                    </div>
                </div>
            </div>
        </article>
        {% endfor %}
        <nav class="navigation paging-navigation" role="navigation">
            <h1 class="screen-reader-text">Posts navigation</h1>
        </nav>
        {% if current_page != total_pages %}
        <div id="infinite-handle">
            <span>
                <button class="next-page" data-value="{{next_page_url}}">Older Posts</button>
            </span>
        </div>
        {% endif %}
        <span class="infinite-loader" style="display: none;">
            <div class="spinner" role="progressbar" style="position: relative; width: 0px; z-index: 2000000000; left: 17px; top: 14px;">
                <div style="position: absolute; top: -1px; opacity: 0.25; animation: opacity-60-25-0-8 0.769231s linear infinite;">
                    <div style="position: absolute; width: 7px; height: 3px; box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 1px; transform-origin: left center 0px; transform: rotate(0deg) translate(5px, 0px); border-radius: 1px; background: rgb(0, 0, 0);"></div>
                </div>
                <div style="position: absolute; top: -1px; opacity: 0.25; animation: opacity-60-25-1-8 0.769231s linear infinite;"><div style="position: absolute; width: 7px; height: 3px; box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 1px; transform-origin: left center 0px; transform: rotate(45deg) translate(5px, 0px); border-radius: 1px; background: rgb(0, 0, 0);"></div></div><div style="position: absolute; top: -1px; opacity: 0.25; animation: opacity-60-25-2-8 0.769231s linear infinite;">
                <div style="position: absolute; width: 7px; height: 3px; box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 1px; transform-origin: left center 0px; transform: rotate(90deg) translate(5px, 0px); border-radius: 1px; background: rgb(0, 0, 0);"></div></div><div style="position: absolute; top: -1px; opacity: 0.25; animation: opacity-60-25-3-8 0.769231s linear infinite;"><div style="position: absolute; width: 7px; height: 3px; box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 1px; transform-origin: left center 0px; transform: rotate(135deg) translate(5px, 0px); border-radius: 1px; background: rgb(0, 0, 0);"></div>
            </div>
                <div style="position: absolute; top: -1px; opacity: 0.25; animation: opacity-60-25-4-8 0.769231s linear infinite;">
                    <div style="position: absolute; width: 7px; height: 3px; box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 1px; transform-origin: left center 0px; transform: rotate(180deg) translate(5px, 0px); border-radius: 1px; background: rgb(0, 0, 0);">
                    </div>
                </div>
                <div style="position: absolute; top: -1px; opacity: 0.25; animation: opacity-60-25-5-8 0.769231s linear infinite;">
                    <div style="position: absolute; width: 7px; height: 3px; box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 1px; transform-origin: left center 0px; transform: rotate(225deg) translate(5px, 0px); border-radius: 1px; background: rgb(0, 0, 0);"></div>
                </div>
                <div style="position: absolute; top: -1px; opacity: 0.25; animation: opacity-60-25-6-8 0.769231s linear infinite;">
                    <div style="position: absolute; width: 7px; height: 3px; box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 1px; transform-origin: left center 0px; transform: rotate(270deg) translate(5px, 0px); border-radius: 1px; background: rgb(0, 0, 0);"></div>
                </div><div style="position: absolute; top: -1px; opacity: 0.25; animation: opacity-60-25-7-8 0.769231s linear infinite;">
                <div style="position: absolute; width: 7px; height: 3px; box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 1px; transform-origin: left center 0px; transform: rotate(315deg) translate(5px, 0px); border-radius: 1px; background: rgb(0, 0, 0);"></div>
            </div>
            </div>
        </span>