{% set header = get("blog_home") %}

<header id="masthead" class="site-header" role="banner" style="margin-bottom: 76px;">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="row">
                <div class="site-navigation-inner col-sm-12">
                    <div class="navbar-header">
                        <div id="logo">
                            <h1 class="site-name">
                                <a class="navbar-brand" href="/blog" title="{{header.title}}" rel="home">{{header.title}}</a>
                            </h1>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul id="menu-top" class="nav navbar-nav">
                            <li id="menu-item" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-1773 active">
                                <!--<a title="Home" href="/blog">Home</a>-->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
